<p id="notice"><%= notice %></p>


<%= image_tag @image.picture if @image.picture.attached? %>
<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
